<p-menubar [model]="_items" breakpoint="820px" class="simra-menubar">
			<ng-template #start>
				<div class="simra-menubar-start">
					<h1>SimRa</h1>
				</div>
			</ng-template>
			<ng-template #item let-item let-root="root">
				<a pRipple class="flex items-center p-menubar-item-link"
				   (mouseover)="item?.prefetch?.()"
				   (focus)="item?.prefetch?.()"
				   [routerLink]="item.routerLink"
				   [queryParams]="item.queryParams"
				   [queryParamsHandling]="'replace'">
					<i [class]="item.icon"></i>
					<span>{{ item.label | translate }}</span>
					<p-badge *ngIf="item.badge" [ngClass]="{ 'ml-auto': !root, 'ml-2': root }" [value]="item.badge" />
					@if (item.shortcut) {
						<span class="ml-auto border border-surface rounded bg-emphasis text-muted-color text-xs p-1" >{{ item.shortcut }}</span>
					}
					@if (item.items) {
						<i [ngClass]="['ml-auto ph', root ? 'ph-caret-down' : 'ph-caret-right']"></i>
					}
				</a>
			</ng-template>
		<ng-template #end>
			<p-selectbutton [options]="_languages" [unselectable]="true" [(ngModel)]="_selectedLanguage" optionLabel="label" dataKey="id" (onChange)="selectLanguage($event)" >
				<ng-template #item let-item>
					<i class="opacity-90 rounded" [pTooltip]="item.label | translate"  [class]="item.icon"></i>
				</ng-template>
			</p-selectbutton>
		</ng-template>
</p-menubar>
<p-breadcrumb class="max-w-full text-sm simra-breadcrumb" styleClass="pt-0" [model]="_breadcrumbItems$()" [home]="_home" />
