<div class="max-w-screen-xl pt-8 pb-16">
	<div class="rounded-md border overflow-hidden p-4 bg-white" xmlns="http://www.w3.org/1999/html">
		<p [innerHTML]="'APP.COMPONENTS.HOME.INFORMATION_BOX.TEXT' | translate"></p>
		<p class="mt-2" [innerHTML]="'APP.COMPONENTS.HOME.INFORMATION_BOX.LINK_TEXT' | translate"></p>
	</div>

	<h2>{{ 'APP.COMPONENTS.MENU_BAR.ITEMS.REGIONS' | translate }}</h2>

	<p-tabs class="content-card" value="0">
		<p-tablist>
			<p-tab value="0">{{ "APP.COMPONENTS.MENU_BAR.ITEMS.ADMINISTRATIVE_REGIONS" | translate}}</p-tab>
			<p-tab value="1">{{ "APP.COMPONENTS.MENU_BAR.ITEMS.SIMRA_REGIONS" | translate}}</p-tab>
		</p-tablist>
		<p-tabpanels>
			<p-tabpanel value="0">
				<section class="">
					<img ngSrc="/assets/images/home/berlin.avif" width="640" height="400" [alt]="'APP.COMPONENTS.HOME.REGIONS.ADMINISTRATIVE_REGIONS.IMAGE_ALT' | translate">
					<div class="tabs__information-content">
						<p [innerHTML]="'APP.COMPONENTS.HOME.REGIONS.ADMINISTRATIVE_REGIONS.DESCRIPTION' | translate"></p>
						<section>
							<p-chip [label]="'APP.COMPONENTS.HOME.CHIPS.TRAFFIC_ANALYTICS' | translate" />
							<p-chip [label]="'APP.COMPONENTS.HOME.CHIPS.CHARTS' | translate" />
						</section>
					</div>
				</section>
				<a routerLink="/administrative-districts" class="link-button">{{ "APP.COMPONENTS.HOME.GO_TO" | translate }}</a>
			</p-tabpanel>
			<p-tabpanel value="1">
				<section>
					<img ngSrc="/assets/images/home/map.avif" alt="" width="640" height="400" [alt]="'APP.COMPONENTS.HOME.REGIONS.SIMRA_REGIONS.IMAGE_ALT' | translate">
					<div class="tabs__information-content">
						<p [innerHTML]="'APP.COMPONENTS.HOME.REGIONS.SIMRA_REGIONS.DESCRIPTION' | translate">
						<section>
							<p-chip [label]="'APP.COMPONENTS.HOME.CHIPS.TRAFFIC_ANALYTICS' | translate" />
							<p-chip [label]="'APP.COMPONENTS.HOME.CHIPS.CHARTS' | translate" />
							<p-chip [label]="'APP.COMPONENTS.HOME.CHIPS.PROFILE_ANALYTICS' | translate" />
						</section>
					</div>
				</section>
				<a routerLink="/simra-regions" class="link-button">{{ "APP.COMPONENTS.HOME.GO_TO" | translate }}</a>
			</p-tabpanel>
		</p-tabpanels>
	</p-tabs>
	<h2>{{ 'APP.COMPONENTS.MENU_BAR.ITEMS.STREETS' | translate }}</h2>
	<p-tabs value="0">
		<p-tablist>
			<p-tab value="0">{{ "APP.COMPONENTS.MENU_BAR.ITEMS.LIST" | translate}}</p-tab>
			<p-tab value="1">{{ "APP.COMPONENTS.MENU_BAR.ITEMS.MAP" | translate}}</p-tab>
		</p-tablist>
		<p-tabpanels>
			<p-tabpanel value="0">
				<section>
					<img ngSrc="/assets/images/home/street.avif" alt="" width="640" height="400" [alt]="'APP.COMPONENTS.HOME.STREETS.LIST.IMAGE_ALT' | translate">
					<div class="tabs__information-content">
						<p [innerHTML]="'APP.COMPONENTS.HOME.STREETS.LIST.DESCRIPTION' | translate"></p>
						<section>
							<p-chip [label]="'APP.COMPONENTS.HOME.CHIPS.TRAFFIC_ANALYTICS' | translate" />
						</section>
					</div>
				</section>
				<a routerLink="/streets" class="link-button">{{ "APP.COMPONENTS.HOME.GO_TO" | translate }}</a>
			</p-tabpanel>
			<p-tabpanel value="1">
				<section>
					<img ngSrc="/assets/images/home/street-map.avif" alt="" width="640" height="400" [alt]="'APP.COMPONENTS.HOME.STREETS.MAP.IMAGE_ALT' | translate">
					<div class="tabs__information-content">
						<p [innerHTML]="'APP.COMPONENTS.HOME.STREETS.MAP.DESCRIPTION' | translate"></p>
						<section>
							<p-chip [label]="'APP.COMPONENTS.HOME.CHIPS.TRAFFIC_ANALYTICS' | translate" />
							<p-chip [label]="'APP.COMPONENTS.HOME.CHIPS.CHARTS' | translate" />
							<p-chip [label]="'APP.COMPONENTS.HOME.CHIPS.INCIDENT_DETAILS' | translate" />
						</section>
					</div>
				</section>
				<div class="city-box">
					<h3>{{ "APP.COMPONENTS.HOME.JUMP_TO_POSITION" | translate }}:</h3>
					@for(cityLink of CITY_POSITION_LINKS; track cityLink.position) {
						<a [routerLink]="['streets', 'map']" [queryParams]="cityLink.position" class="link-button">{{ cityLink.label }}</a>
						@if(!$last) {
							,
						}
					}
				</div>
			</p-tabpanel>
		</p-tabpanels>
	</p-tabs>

	<h2>{{ 'APP.COMPONENTS.MENU_BAR.ITEMS.INCIDENTS' | translate }}</h2>
	<p-tabs value="0">
		<p-tablist>
			<p-tab value="0">{{ "APP.COMPONENTS.MENU_BAR.ITEMS.MAP" | translate}}</p-tab>
		</p-tablist>
		<p-tabpanels>
			<p-tabpanel value="0">
				<section>
					<img ngSrc="/assets/images/home/incident.avif" alt="" width="640" height="400" [alt]="'APP.COMPONENTS.HOME.INCIDENTS.MAP.IMAGE_ALT' | translate">
					<div class="tabs__information-content">
						<p [innerHTML]="'APP.COMPONENTS.HOME.INCIDENTS.MAP.DESCRIPTION' | translate"></p>
						<section>
							<p-chip [label]="'APP.COMPONENTS.HOME.CHIPS.INCIDENT_DETAILS' | translate" />
						</section>
					</div>
				</section>
				<a [routerLink]="['incidents', 'map']" class="link-button">{{ "APP.COMPONENTS.HOME.GO_TO" | translate }}</a>
			</p-tabpanel>
		</p-tabpanels>
	</p-tabs>

	<h2>{{ 'APP.COMPONENTS.MENU_BAR.ITEMS.INTERSECTIONS' | translate }}</h2>
	<p-tabs value="0">
		<p-tablist>
			<p-tab value="0">{{ "APP.COMPONENTS.MENU_BAR.ITEMS.LIST" | translate}}</p-tab>
			<p-tab value="1">{{ "APP.COMPONENTS.MENU_BAR.ITEMS.MAP" | translate}}</p-tab>
			<p-tab value="2">{{ "APP.COMPONENTS.MENU_BAR.ITEMS.ADMINISTRATIVE_REGIONS" | translate}}</p-tab>
		</p-tablist>
		<p-tabpanels>
			<p-tabpanel value="0">
				<section>
					<img ngSrc="/assets/images/home/traffic-signal.jpg" alt="" width="640" height="400" [alt]="'APP.COMPONENTS.HOME.STREETS.LIST.IMAGE_ALT' | translate">
					<div class="tabs__information-content">
						<p [innerHTML]="'APP.COMPONENTS.HOME.INTERSECTIONS.LIST.DESCRIPTION' | translate"></p>
					</div>
				</section>
				<a routerLink="/intersections" class="link-button">{{ "APP.COMPONENTS.HOME.GO_TO" | translate }}</a>
			</p-tabpanel>
			<p-tabpanel value="1">
				<section>
					<img ngSrc="/assets/images/home/street-map.avif" alt="" width="640" height="400" [alt]="'APP.COMPONENTS.HOME.STREETS.MAP.IMAGE_ALT' | translate">
					<div class="tabs__information-content">
						<p [innerHTML]="'APP.COMPONENTS.HOME.INTERSECTIONS.MAP.DESCRIPTION' | translate"></p>
					</div>
				</section>
				<div class="city-box">
					<h3>{{ "APP.COMPONENTS.HOME.JUMP_TO_POSITION" | translate }}:</h3>
					@for(cityLink of CITY_POSITION_LINKS; track cityLink.position) {
						<a [routerLink]="['intersections', 'map']" [queryParams]="cityLink.position" class="link-button">{{ cityLink.label }}</a>
						@if(!$last) {
							,
						}
					}
				</div>
			</p-tabpanel>
			<p-tabpanel value="2">
				<section class="">
					<img ngSrc="/assets/images/home/berlin.avif" width="640" height="400" [alt]="'APP.COMPONENTS.HOME.REGIONS.ADMINISTRATIVE_REGIONS.IMAGE_ALT' | translate">
					<div class="tabs__information-content">
						<p [innerHTML]="'APP.COMPONENTS.HOME.INTERSECTIONS.ADMINISTRATIVE_REGIONS.DESCRIPTION' | translate"></p>
						<section>
							<p-chip [label]="'APP.COMPONENTS.HOME.CHIPS.TRAFFIC_ANALYTICS' | translate" />
							<p-chip [label]="'APP.COMPONENTS.HOME.CHIPS.CHARTS' | translate" />
						</section>
					</div>
				</section>
				<a [routerLink]="['intersections', 'regions']" class="link-button">{{ "APP.COMPONENTS.HOME.GO_TO" | translate }}</a>
			</p-tabpanel>
		</p-tabpanels>
	</p-tabs>
</div>
